{% extends 'notes/base.html' %}

{% block title %}Inicia Sessió{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Inicia Sessió</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Correu electrònic:</label>
                <input type="email" name="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Contrasenya:</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Inicia Sessió</button>
        </form>
        <hr>
       
        {% if error %}
            <div class="alert alert-danger mt-3">{{ error }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}
